---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const formatDate = (date: Date) =>
  date.toISOString().slice(0, 10);
---

<Base title="Blog">
  <h1>Blog</h1>
  <ul class="post-list">
    {
      posts.map((post) => (
        <li>
          <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
          <a href={`/blog/${post.id}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
